body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
  background: black;
}

.topnavbar {
  width: 1024px;
  margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.shopping_bag {
  float: right;
  margin-top: 30px;
}

#cost {
  font-size: 18px;
  color: #fff;
  float: right;
  margin-top: 50px;
  margin-right: 5px;
}

.logo {
  float: left;
  padding: 10px 0;
}

.brand_name {
  color: #D3D3D3;
  font-size: 10px;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

h1 {
  font-size: 24px;
  color: #333;
  float: left;
}

.search_bar {
  float: right;
  font-size: 14px;
  color: #333;
  border: 1px solid #999;
  width: 220px;
  height: 35px;
  margin-top: 10px;
}

.content {
  max-width: 1024px;
  margin: auto;
  background: white;
}

.car_cost {
  font-size: 20px;
  color: #333;
}

.car_buy {
  font-size: 16px;
  color: #fff;
  background-color: #3c3c3c;
}

button {
  font-size: 16px;
  color: #fff;
  background-color: #3c3c3c;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.car_name {
  font-size: 22px;
  color: #333;
}

ul {
  width: 918px;
  margin-top: 70px;
}

ul li {
  width: 300px;
  display: inline-block;
  margin-right: 9px;
  margin-top: 20px;
}

ul li:nth-child(3n+3) {
  margin-right: 0px;
}

li img {
  margin-bottom: -4px;
  width: 300px;
}

.loader {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#small_screen_message {
  color: white;
}

#no_results_found {
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
}
