.car_cost {
  font-size: 20px;
  color: #333;
}

.car_buy {
  font-size: 16px;
  color: #fff;
  background-color: #3c3c3c;
}

button {
  font-size: 16px;
  color: #fff;
  background-color: #3c3c3c;
  width: 100%;
  margin: 0;
  padding: 0;
  border:none;
}

.car_name {
  font-size: 22px;
  color: #333;
}

ul {
  width: 918px;
  margin-top: 70px;
}

ul li {
  width: 300px;
  display: inline-block;
  margin-right: 9px;
  margin-top: 20px;
}

ul li:nth-child(3n+3) {
  margin-right: 0px;
}

li img {
  margin-bottom:-4px;
  width:300px;
}
